.display-list{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(260px,1fr));
    margin-top: 30px;
    gap: 70px;
    row-gap: 50px; 
}
.tittle{
   font-size: xxx-large;
   margin-bottom: 50px;
   margin-top: 10px;
   color: #543A14;
   font-weight: 600;
}